.page_container{
    display: flex;
    padding: 15px 300px;
    justify-content: center;
    background: #5DFD19;
    min-height: 5vh;
    flex-wrap: wrap;
}

.btn_paginacion{
    text-decoration: none;
    color: #5DFD19;
    padding: 8px 20px;
    border-radius: 5px;
    transition: .3s;
    font-size: 20px;
    margin: 2px;
}

.btn_container{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #5DFD19;
    min-height: 5vh;
    flex-wrap: wrap;
}