.container_search{
    display: flex;
    justify-content: center;
    background: #5DFD19;
    padding: 5px;
    min-height: 5vh;
    flex-wrap: wrap;
}

.search{
    text-decoration: none;
    color: black;
    padding: 15px 10%;
    border-radius: 5px;
    transition: .3s;
    margin: 2px;
    
}
.selector_search{
    text-decoration: none;
    color: black;
    padding: 15px 5%;
    border-radius: 5px;
    transition: .3s;
    margin: 2px;
    
}

.btn_search{
    text-decoration: none;
    color: #5DFD19;
    padding: 8px 5%;
    border-radius: 5px;
    transition: .3s;
    font-size: 20px;
    margin: 2px;
}